<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Store for avid readers!
          </h1>
          <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
      </div>
  </div>
</header>

<div class="row">
  <div style="margin-top: 70px;"  class="col-lg-3">
    <div style=" margin-top: 10px;margin-left: 20px;"class="list-group">
      <a routerLink="/category/1" routerLinkActive="btn  font-weight-bold" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px;color: #212529;" class="list-group-item">Text Books</a>
      <a routerLink="/category/2" routerLinkActive="btn font-weight-bold" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px;color: #212529;" class="list-group-item">Fiction</a>
      <a  routerLink="/category/3"  routerLinkActive="btn  font-weight-bold" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px;color: #212529;"class="list-group-item">Self Help</a>
      <a  routerLink="/category/4" routerLinkActive="btn  font-weight-bold"style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:20px;color: #212529;"class="list-group-item">Programming</a>

      </div>
</div>


<div class="col-lg-9">
<div class="row ">
<div  *ngFor="let book of books" style="margin-left: 70px;margin-top: 70px;" class="col-lg-3 col-md-6 mb-4">
    
    
    <div style="width: 220px;height:380px;" class=" card h-10 ">
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        <!-- Product image-->
        <a href="#"><img  style="width:220px;height: 200px;"class="card-img-top img-responsive " [src]="book.imageUrl" alt="..." /></a>
        <!-- Product details-->
        <div  style="width:210px;height: 210px;"class="card-body p-6">
            <div class="text-center">
                <!-- Product name-->
       <h5  style="align-self: center;margin-left: 30px;" class="fw-bolder">{{book.name}}</h5>
                <!-- Product reviews-->
                <!-- <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div> -->
                <!-- Product price-->
                <span style="margin-left: 30px;">{{book.unitPrice | currency: 'INR'}}</span>
               
            </div>
            
        </div>
        <div style="height: 100px;"class="card-footer">
          <button style="background-color: #EEBB1F; margin-left: 80px;width: 108px;height:36px;" class="btn float-right">Add to Cart</button>
        </div>
       
       

       

</div>
</div>
</div>

</div>
</div>